html , body{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: 'border-box';
    margin: 0;
    overflow-x: 'hidden';
    top: 0;
    left: 0;
}
a{
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}
a:hover{
    color: #e74c3c;
}
ul{
    list-style-type: none;
}
.navbar{
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
}
.navbar .navbar-brand a{
    padding: 1rem 0;
    display:block;
    text-decoration: none;
}
.navbar-brand{
    font-family:'Pacifico' , 'cursive';
    font-size: 2.5rem;
    color: #e74c3c;
}
.navbar-toggler{
    background: #e74c3c;
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top: 4px solid #e74c3c;
}
.navbar-expand-lg .navbar-nav .nav-link:active{
    border-top: 4px solid #e74c3c;
    color: #e74c3c;
}

/* /* gallery style  */
.container{
    
}
.col{
    width: 200px;
    margin: 10px;
    margin-top: 10px;
    height: 220px;
    background-color:rgb(218, 212, 212);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 1.5rem;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
}
.container .row .delete{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transform: translateX(200%);
    transition: .3s;
}
.container .row :hover .delete{
    transform: translateX(0);
}
.container .row .delete:hover{
    border-color: black;
    color:black;
}
/* Modal box */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn{
    background-color: white;
    border: 1px solid rgb(0,162,255);
    border-radius: 4px;
    color: rgb(0,162,255);
    cursor: pointer;
    transition: .3s;
    padding:1 rem 2 rem;
    font-size: 2rem;
}
#btn:hover{
     background-color: rgb(0,162,255);
     color: white;
}
.modalContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -3;
    transition: .3s;
    cursor: pointer;
}
.modalContainer .modalBox{
    width: 70%;
    /* height: 70%; */
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    transform: translateY(-75px);
}
.modalContainer .modal_Header{
    width: 100%;
    padding: 2rem;
    border-bottom:2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalContainer .modal_footer{
    width: 100%;
    padding: 1.5rem 2rem;
    border-top: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modalContainer .modal_footer .btn{
    padding: .75rem 1.5rem;
    margin-left: 1rem;
    background-color: white;
    color: rgb(0, 162, 255);
    border-radius: 4px;
    border: 1px solid rgb(0, 162,255);
    cursor: pointer;
    transition: .3s;
}
.modalContainer .modal_footer .btn:last-child{
    background-color: rgb(0, 162, 255);
    color: white;
    cursor: pointer;
}
.modalContainer .modal_footer .btn:first-child:hover{
    background-color: rgb(0, 162, 255);
    color: white;
}
.modalContainer .modal_footer .btn:last-child:hover{
    background-color: white;
    color: rgb(0, 162, 255);
}
.modalContainer .modal_body{
    width: 100%;
    height: 400px;
    padding: 2rem;
    color: rgb(49, 44, 44);
    font-size: 2rem;
    overflow: hidden;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

    

.open{
    opacity: 1 !important;
    z-index: 1 !important;
}
.openModal{
    transform: translateY(0) !important;
}